/**
 * Image desaturate formatter CSS file
 */

img.desaturate-formatter {
  filter: url("filters.svg#grayscale");
  -webkit-filter: grayscale(1);
}
img.desaturate-formatter:hover {
  filter: none;
  -webkit-filter: none;
}

img.no-desaturate-formatter:hover {
  filter: url("filters.svg#grayscale");
  -webkit-filter: grayscale(1);
}
